version: '3.1'
services:
    mysql-server:
        container_name: mysql
        ports:
            - "13306:3306"
        command: mysqld --general_log=1 --log_output='TABLE'
        environment:
            MYSQL_ROOT_PASSWORD: 12345
            MYSQL_DATABASE: wordpress
            MYSQL_USER: wordpress_user
            MYSQL_PASSWORD: secret
        volumes:
            - ./dump:/docker-entrypoint-initdb.d
        image: mysql/mysql-serve
    wordpress:
        image: wordpress:latest
        container_name: wordpress
        ports:
            - "20080:80"
        environment:
            WORDPRESS_DB_HOST: mysql-server:3306
            WORDPRESS_DB_USER: wordpress_user
            WORDPRESS_DB_PASSWORD: secret
        depends_on:
            - percona
    # grafana used for graphing mysql data
    grafana:
        container_name: grafana
        image: grafana/grafana
        ports:
        - "3000:3000"
        environment:
            GF_INSTALL_PLUGINS: percona-percona-app